.con{
    border: 1px solid blueviolet;
    height: 500px;
    width: 300px;
    margin-left: 50px;
    background-color: yellow;
}
.header{
    margin-left: 70px;
}
.n1,.n2{
    margin-left: 20px;
}
button{
    border: 2px solid ;
    margin-left: 20px;
    background-color: red;
}

p{
    margin-left: 20px;
}